@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: rgb(9, 9, 31); */
  font-family: "oxygen";
  margin: 0;
  padding: 0;
 
}
.homesection {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
}
#particles-js {
  height: 100vh;
  width: 88vw;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
}




.nav-container {
  max-height: 5vh;
  display: flex;
  justify-content: center;
}

.contact,
.navbar {
  position: absolute;
  z-index: 3;
}
.navbar {
  max-height: 5vh;
  transition: ease;
}
.nav-link:hover {
  text-decoration: none;

  transform: translate(0px, 5px);
}

/* .intro-container {
  text-align: center;
  height: 15vh;
} */
.intro {
  margin-top: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 4vw;
}

.parallax {
  height: 50vh;
  width: 100vw;
  background-image: url("./images/parallax.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.about {
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 193, 7);
}
.about.icon {
  width: 2vw;
  height: 10vh;
  position: relative;
  top: 95vh;
  left: 5vw;
}
.about-col {
  margin-top: 10%;

}
.about-col h1 {
  margin-left: 15%;
  padding-bottom: 55px;
  text-align: center;
  font-family: cursive;
}
.card {
  background-color: black;
  color: #e6b800;
  border: 4px solid #e6b800;
  border-radius: 2rem;
  box-shadow: yellow;
}

.card-header {
  padding-bottom: 2px;
  border-bottom: 1px solid #e6b800;
}
#svgupabout{
  position: absolute;
top:240vh;

}
.arrow-up-svg-l{
position: absolute;
top:240vh;
left: 5vw;
animation-duration: 5s;
animation-name: slideup;
animation-iteration-count:infinite;

}
.arrow-up-svg{
position: absolute;
top:240vh;
left: 95vw;


}
@keyframes slideup{
0% {
  position: absolute;
    top:240vh;
  }
  
  100% {
    position: absolute;
   top: 145vh;
  }
}
.arrow-up-svg-skill{
position: absolute;
top:390vh;
left: 95vw;

}
.arrow-up-svg-form{
position: absolute;
top:540vh;
left: 95vw;

}

.arrow-up-svg-form-ani{
position: absolute;
top:540vh;
left: 5vw;

}
.arrow-up-svg-form-ani{
animation-duration: 5s;
animation-name: slide-up-form;
animation-iteration-count: infinite;

}

@keyframes slide-up-form{
  0% {
  position: absolute;
    top:540vh;
  }
  
  100% {
    position: absolute;
   top: 445vh;
  }
}
.skills {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 193, 7);
}

.card {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card-header{
font-size: 7vw;
}
/* .card-head {
  
   animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;

}
@keyframes slidein {
  0% {
    margin-right:10px;
  }
 
  100% {
   margin-right:1px;
  }
} */
.card-text {
  font-size: 1.5vw;
}

.skills {
  padding-top: 10%;
  line-height: 28px;
}
.skills article {
  margin-left: 10%;
}

.skills article h1 {
  font-size: 10vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.skills article p {
  margin-top: 8%;
  font-size: 2.75vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.skillimg {
  /* width: 40vw;
  height: 60vh; */
  margin-left: 25%;
  animation-duration: 5s;
  animation-name: shake;
  animation-iteration-count: infinite;
}
@keyframes shake{
   0% {
 opacity: 0;
 
   }
  
  100% {
    opacity: 1;
 
  }
}
.progress.row {
  margin-left: 15%;
}
.progress-sub-row.progress div {
  justify-content: center;
}
.progress-bar-html{
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
.progress-bar-css{
  animation-duration: 5s;
  animation-name: slidein2;
  animation-iteration-count: infinite;
}
.progress-bar-js{
  animation-duration: 5s;
  animation-name: slidein2;
  animation-iteration-count: infinite;
}
.progress-bar-bootstrap{
  animation-duration: 5s;
  animation-name: slidein3;
  animation-iteration-count: infinite;
}
.progress-bar-react{
  animation-duration: 5s;
  animation-name: slidein4;
  animation-iteration-count: infinite;
}
.progress-bar-git{
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
@keyframes slidein{
  0% {
   width: 0%;
  }
 
  100% {
     width: 75%;
  }
}

@keyframes slidein2{
  0% {
   width: 0%;
  }
 
  100% {
     width: 65%;
  }
}
@keyframes slidein3{
  0% {
   width: 0%;
  }
 
  100% {
     width: 50%;
  }
}
@keyframes slidein4{
  0% {
   width: 0%;
  }
 
  100% {
     width: 25%;
  }
}
.form {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgb(255, 193, 7);
}

.form-body {
  margin-top: 8%;
  margin-left: 31%;
  width: 40vw;
  height: 70vh;
  background-color: black;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.form-body h1 {
  margin-top: 5%;
  color: #e6b800;
  text-align: center;
}
.form-body input {
  width: 80%;
  margin-top: 6%;
  margin-left: 10%;
  background-color: #c9b257;
  color: black;
}
.submitbtn {
  margin-top: 4%;
  margin-left: 45%;
  background-color: #e6b800;
  color: black;
}

.reverse-arrow-up-svg{
  position: absolute;
top:240vh;
left: 5vw;

}
.footer{
  background-color: black;
  width: 100vw;
  height:15vh;
  
}
.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

.icons{
  margin-left: 3%;

 margin-top: 2%;
}

.copyright-container{
  margin-top: 15px;
  display: flex;
   justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 575px) {
  .contact {
    margin-top: 10vh;
    margin-left: 35vw;
    font-size: 1.5vh;
  }
}
